.motoCard__order {
  height: 100%;
  border: 2px solid rgb(255, 89, 0);
  padding: 18px 40px 5px 40px;
  letter-spacing: 2px;
  cursor: pointer;
  max-height: 70px;
}

.motoCard__order:hover {
  background-color: rgb(244, 244, 244);
}
.motoCard__order:active {
  background-color: rgb(225, 224, 224);
}
.motoCard__order h3 {
  text-align: center;
  font-size: 170%;
}
