.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; 
}

a {
  color: black;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus,
  &:active {
    outline: none;
  }
}
