.container {
  display: flex;
  justify-content: center;
  padding: 40px 0 40px 0;
  & h2 {
    font-size: 200%;
    padding: 0 10px 10px 10px;
  }
}

.form {
  & button {
    font-family: 'Bebas Neue';
    background-color: rgb(255, 89, 0);
    color: white;
    padding: 10px;
    font-size: large;
    letter-spacing: 1px;
    width: 180px;
    margin: 0 10px 10px 10px;
    &:hover {
      background-color: rgb(255, 60, 0);
    }
    &:disabled {
      background-color: #ccc;
    }
  }
}

.userInfo {
  border: 1px solid #ccc;
  width: 400px;
  height: 430px;
  & textarea {
    transition: all 300ms ease-in-out;
    font-size: larger;
    color: #888;
    margin: 0 10px 0px 10px;
    border: 1px solid #ccc;
    width: 95%;
    padding: 10px;
    &:focus {
      border: 1px solid #000;
    }
  }
}

.back {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px 0 5px 0;
  margin-bottom: 30px;
  letter-spacing: 1px;
  border-bottom: 1px solid #ccc;
  color: #888;
  &:hover {
    background-color: rgb(244, 244, 244);
  }
  &:active {
    background-color: rgb(225, 224, 224);
  }

  & p {
    color: #888;
  }
}

Input {
  margin: 0px 10px 0px 10px;
  padding: 10px;
}
.Input input {
  font-size: larger;
  color: #888;
  border: 1px solid #ccc;
  width: 95%;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}
.Input input:focus {
  border: 1px solid #000;
}

.Input.invalid input {
  border: 1px solid red;
  margin-bottom: 0;
}
span {
  display: block;
  height: 15px;
  visibility: visible;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
  color: red;
}
.Input.invalid span {
  color: red;
  visibility: visible;
}

@media only screen and (max-width: 850px) {
  .image {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    justify-content: center;
  }
  .form {
    margin: 0;
  }
}
