.motoBar {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #888;
  margin-bottom: 50px;
}

.tab {
  padding: 24px 8px 20px;
  // white-space: nowrap;

  & a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #888;
    text-decoration: none;
    &:hover {
      border-bottom: 3px solid #f60;
      transition: all 0.1s;
    }
  }
}

.active {
  border-bottom: 3px solid #f60;
  color: red;
}

@media screen and (max-width: 500px) {
  .motoBar {
    flex-wrap: wrap;

    margin-bottom: 20px;
    padding-bottom: 7px;
  }

  .tab {
    padding: 12px 8px 5px;
  }
}
