.ListBuy {
  border: 1px solid #ccc;
}

.buttonSubmit {
  float: right;
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(162, 152, 150);
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}

.buttonSubmit:hover {
  background: rgb(135, 127, 125);
  color: white;
}
