.motoList {
  /* display: inline-block; */
  text-align: center;
  /* justify-content: center; */
}

.listBuy {
  text-align: left;
}

a {
  color: black;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
