@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/Bebas\ Neue\ Cyrillic.ttf');
}

h1,
h2,
h3 {
  font-family: 'Bebas Neue';
  margin-bottom: 10px;
}
h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
h2 {
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
h3 {
  font-family: 'Bebas Neue';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.motoList {
  text-align: center;
}

.listBuy {
  text-align: left;
}
