/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/Bebas\ Neue\ Cyrillic.ttf');
}

h1,
h2,
h3 {
  font-family: 'Bebas Neue';
  margin-bottom: 10px;
}
h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
h2 {
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
h3 {
  font-family: 'Bebas Neue';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

/* .pageHeading {
  color: #fff;
  height: 400px;
  width: 100%;
  background-image: url(../public/img/bg.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageHeading__text {
  text-align: center;
  padding-top: 150px;
  letter-spacing: 0.5px;
} */

.motoList {
  /* display: inline-block; */
  text-align: center;
  /* justify-content: center; */
}

.listBuy {
  text-align: left;
}
