$heightHeading: 40vh;

.pageHeading {
  color: #fff;
  height: $heightHeading;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageHeadingText {
  height: $heightHeading;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.5px;
}
