.pageHeading {
  color: #fff;
  height: 40vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageHeadingText {
  text-align: center;
  padding-top: 150px;
  letter-spacing: 0.5px;
}
